#Drum {
    width: 50%;
    height: 100px;
    border-radius:0px;
 }
 #Mandolin {
    width: 50%;
    height: 100px;
    border-radius:0px;
 }
 #logo {
    width: 100%;
    height: auto;
    border-radius:0px;
 }